body {
  box-sizing: border-box;
  background-image: url('../resources/upmin-5.jpg');
  background-size: cover;
  height: 100vh;
  width: 98vw;
  position: absolute;
}
.header {
  background-color: white;
  width: 90%;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
#menu {
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #850038;
}

#menu .active {
  color: #ffad0d;
  border: none;
}

#menu a{
  text-align: center;
  text-decoration: none;
  color: white;
}

#menu a:hover {
  color: #ffad0d;
  border: none;
}

#menu .sub li a:hover{
  color: #ffad0d;
  border: none;
}

#menu .sub li a{
  font-size: medium;
  text-align: left;
  display: block;
  color: #850038;
  background-color: white;
  border: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.container {
  width: 90%;
  margin: 100px auto;
  background-color: white
}

#course{
  margin: 25px;
}

.ui-widget-header {
  background: none;
  border: none;
}
#tabs {
  border: none;
}
.ui-tabs .ui-tabs-panel {
  border: 5px solid #850038;
  border-radius: 0px;
  padding: 5% 10%;
}
.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default, .ui-button,
html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background: #0e6021;
  border: none;
}
.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, a.ui-button:active, 
.ui-button:active, .ui-button.ui-state-active:hover {
  background: #850038;
}
.ui-state-default a, .ui-state-default a:link,
.ui-state-default a:visited, a.ui-button,
a:link.ui-button, a:visited.ui-button, .ui-button {
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th .office {
  width: 100px;
}