body {
  box-sizing: border-box;
  background-image: url('../resources/upmin-5.jpg');
  background-size: cover;
  height: 98vh;
  width: 98vw;
}

.header {
  background-color: white;
  width: 90%;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
#menu {
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #850038;
}
#menu a{
  text-align: center;
  text-decoration: none;
  color: white;
}
#menu .ap {
  color: #ffad0d;
  border: none;
}
#menu a:hover {
  color: #ffad0d;
  border: none;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#menu .sub li a:hover{
  color: #ffad0d;
  border: none;
}
#menu .sub li a{
  font-size: medium;
  text-align: left;
  display: block;
  color: #850038;
  background-color: white;
  border: none;
}
.container {
  width: 90%;
  margin: 100px auto;
  background-color: #ffffff;
  padding: 24px 0;
}
.ui-widget-header {
  background: none;
  border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default, .ui-button,
html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background: #0e6021;
  border: none;
}
.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, a.ui-button:active, 
.ui-button:active, .ui-button.ui-state-active:hover {
  background: #850038;
}
.ui-state-default a, .ui-state-default a:link,
.ui-state-default a:visited, a.ui-button,
a:link.ui-button, a:visited.ui-button, .ui-button {
  color: white;
}

.title-section {
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
  color: white;
  background-color: #850038;
}

.ui-helper-reset {
  line-height: 2;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  margin-top: 32px;
}

.panels {
  padding: 32px 160px;
}

.content {
  margin-bottom: 24px;
}

i {
  color: #850038;
}

table {
  width: 100%;
}

.table-title {
  border-bottom: 1px solid #850038;
}